<h1>welcome to <strong><i class="fas fa-book"></li>Bookers !!</strong></h1>
<p>in <i class="fas fa-book">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<strong>Bookers,</strong></br>
</i>
you can share and exchange your opinions , inpressions , and emotions</br>

about various books!</br>
</p>

<%= button_to "Sing up", new_user_registration_path %>
<%= button_to "Log in", new_user_session_path %>





